/*Estilos da página index.html*/
.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 20px;
    
}

#menu li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 18px;
}

#menu li a:hover {
    color:gray;
}

.p-10 {
    padding: 10px;
}

.p-100 {
    padding: 100px;
}

.p-200 {
    padding: 200px;
}

.br-50 {
    border-radius: 50%;
}

.wh-350{
    width: 350px;
    height: 450px;
}

.tm-social {
    width: 35px;
    height: 35px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-80{
    margin-bottom: 80px;
}



/*Estilos da página contato.html*/

.ml-30{
  margin-left: 30px;  
}

